/*Composant Basket*/
.background{
    min-height:100vh;
    width:100vw;
    background-color:#121D2B;
    padding-bottom:20px
  }
  .blackboard{
    background-color:black;
    min-height:auto;
    width:90vw;
    margin:100px auto;
  }
  .title{
    justify-content:center;
    color:#CFDEE7;
    font-family: 'Quicksand', sans-serif;;
    font-size:55px;
  }
  .basketIcon{
    margin:auto;
    height:35px;
    width:35px;
    
  }
  .arrayTitle{
    display:flex;
    justify-content:space-between;
    border-style:solid;
    border-color:white;
    margin-top:10px;
    padding:5px 20px;
  }
  .articleTitleImg{
    margin-right:25vw;
  }
  .articleTitle{
    font-size:15px;
    width:13vw;
    font-family: 'Quicksand', sans-serif;;
    font-weight:bold;
    color:#CFDEE7;
    margin-left:20px;
  }
  .newArticle{
    display:flex;
    justify-content:space-between;
    height:auto;
    margin-top:40px;
    padding:5px 20px;
  }
  img.newArticleTitle{
    height:50px;
    width:30px;
    margin-right:13vw;
    }

  .newArticleTitle{
    width:13vw;
    padding-top:10px;
    font-size:15px;
    font-family:'Quicksand', sans-serif;;
    color:#CFDEE7;
  }
  .minus{
    width:15px;
    margin-right : 10px;
    cursor:pointer;
  }
  .plus{
    width:15px;
    margin-left : 10px;
    cursor:pointer;
  }
  .totalArray{
    display:flex;
    justify-content:space-between;
    border-style:solid;
    margin-top:15vh;
    padding-top:5px;
    padding-bottom:5px;
    border-color:white;
    font-family:'Quicksand', sans-serif;;

    color:#CFDEE7;
  }
  .total{
    padding-left:10px;
    font-size:15px;
    font-family:'Quicksand', sans-serif;;
    font-weight:bold;
  }
  .validateIcon{
    height:40px;
    width:40px;
    padding-right:10px;
    cursor:pointer;
  }
  .deleteIcon{
    height:18px;
    width:18px;
    margin-top:10px;
    cursor: pointer;
  }
  .successOrder{
    font-size: 40px;
    color:#CFDEE7;
    font-family:'Quicksand', sans-serif;;
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
  }
  