/*Composant Home*/

.background{
    min-height:100vh;
    width:100%;
    background-color:#121D2B;
    padding-bottom:30px
  
  }
  .carousel{
    height:auto;
    background-color:black;
    margin-top:10vh;
  }
  .carouselImg{
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .text{
    display:flex;
    flex-direction:column;
    align-items:space-between;
    
  }
  .quoteIconLeft{
    height:35px;
    width:35px;
    margin:20px
  }
  .quoteIconRight{
    height:35px;
    width:35px;
    margin-left:97%
    
  }
  .lorem{
    height:auto;
    width:50%;
    color:white;
    font-family: 'Quicksand', sans-serif;;
    font-size:15px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
  }
  .lorem::first-letter{
    font-size:100px;
  }
  .pouet {
    color:white;
    text-align:center;
    font-family: 'Quicksand', sans-serif;;
    animation-duration: 10s;
    animation-name: bigger;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes bigger {
    from {
      text-align:'center';
      font-size:0rem;
    }
  
    to {
      font-size:2rem;
    }
  }
  