/*Composant Shop*/
.background{
    min-height:100vh;
    min-width:100vw;
    background-color:#121D2B
  }
  .shopPage{
    display:flex;
  }
  .filters{
    width:auto;
    text-align:center;
    margin-left: 1vw;
    margin-right:2vw;

  }
  .title{
    margin-left:1vw;
    text-align:center;
    color:#CFDEE7;
    font-size:1rem;
    font-family: 'Quicksand', sans-serif;;
    font-weight:thin;
  }
  .check{
    display:flex;
    flex-direction:column;
    font-family:'Quicksand', sans-serif;;
    font-size:1rem;
    color: #CFDEE7;
    text-align:left;
    margin-top:10px;
    margin-left:20px;
    margin-right:10px;
  } 
  .card{
    margin-left:auto;
    margin-right:auto;
    margin-top:5vh;
    background-color:black;

  }
  .cardBody{
    height:auto;
    background-color:black;
  }
  .cardTitle{
    height:10vh;
    color:#CFDEE7;
    font-family:'Quicksand', sans-serif;;
    font-size:25px;
  }
  .cardText{
    color:#CFDEE7;
    font-family:'Quicksand', sans-serif;;
  }
  .category{
    color:#6a7379;
    font-family:'Quicksand', sans-serif;;
    font-size:20px;
  }
  .cardStock{
    color:#CFDEE7;
    font-family:'Quicksand', sans-serif;;
    font-weight: bold;
    display:flex;
    justify-content:space-between;
    margin-bottom:5px;
  }
  .cardStockNumber{
    font-size:20px; 

  }
  .price{
    display:flex;
    color:#CFDEE7;
    font-family:'Quicksand', sans-serif;;
  }
  img.icon{
    height:30px;
    width:30px;
    cursor:pointer;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
   
  }
  span{
    margin-left:1vw;
    color:#CFDEE7;
  }


  